.root {
  position: relative;
  background-color: rgb(246, 246, 246);
  border: 0;
  color: #888;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 14px 30px;
  min-width: 125px;
  text-align: center;
  border-radius: 5px;
  min-height: 48px;
  cursor: pointer;

  &:hover {
    background-color: rgb(220, 220, 220);
  }
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}