.root {
  width: 100%;
}

.label {
  font-size: 14px;
  color: rgba(0,0,0,0.6)
}

.input {
  outline: none;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 0 10px 0;
  font-size: 14px;
  font-weight: 400;
  &:focus {
    border-color: #000;
  }
}

.invalid {
  border-color: #D43242;
  background: rgba(237, 0, 1, .1);
}

.valid {
  border-color: rgba(34, 144, 159, 1);
  background: rgba(34, 144, 159, .1);
}