.root {
  width: 100%;
}

.header {
  margin-bottom: 30px;
}

.form {
  padding-top: 20px;
}

.errorMessage {
  font-size: 12px;
  color: red;
}

.headerText {
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
}

.input {
  margin-bottom: 30px;
}

.forgot {
  margin-left: auto;
  display: block;
  color: #000;
  font-size: 12px;
  text-align: right;
}

.actions {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textAction {
  font-size: 12px;
  text-decoration: none;
  color: #888;
  font-weight: 600;
  &:hover {
    color: #000;
  }
}
