.root {
  width: 100%;
}

.title {
  margin-bottom: 60px;
  font-size: 50px;
  font-weight: 700;
}

.input {
  margin-bottom: 30px;
}

.actions {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textAction {

}